* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #B3B3B3;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    text-align: center;
    padding: 2rem;
    border-radius: 20px 0 20px 0
}

.container h1 {
    margin-bottom: 1rem
}

.formulario input {
    display: block;
    padding: .4rem;
    margin: 1rem 0;
    border: none;
    border-bottom: 1px solid #B3B3B3;
    outline: none;
    cursor: pointer
}

.formulario button {
    width: 100%;
    margin: 1rem 0;
    padding: .8rem;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg, #00D4FF 1%, #FF00E0 80%);
    color: #FFF;
    font-weight: bold;
    cursor: pointer
}

.container p {
    margin-top: 1rem
}

.container a {
    text-decoration: none;
    color: #FF00E0
}